<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				PAELLA: Parameter-Efficient Lightweight Language-Agnostic Captioning Model.
			</span><br />
			<span class="authors">
				Rita Ramos, Emanuele Bugliarello, Bruno Martins, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of NAACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Visual Prediction Improves Zero-Shot Cross-Modal Machine Translation.
			</span><br />
			<span class="authors">
				Tosho Hirasawa, Emanuele Bugliarello, Desmond Elliott, and Mamoru Komachi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of WMT</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2023.findings-acl.104">LMCap: Few-shot Multilingual Image Captioning by Retrieval Augmented Language Model Prompting</a>.
			</span><br />
			<span class="authors">
				Rita Ramos, Bruno Martins, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2022.findings-emnlp.308">Multilingual Multimodal Learning with Machine Translated Text</a>.
			</span><br />
			<span class="authors">
				Chen Qiu, Dan Oneață, Emanuele Bugliarello, Stella Frank, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of EMNLP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://proceedings.mlr.press/v162/bugliarello22a.html">IGLUE: A Benchmark for Transfer Learning across Modalities, Tasks, and Languages</a>.
			</span><br />
			<span class="authors">
				Emanuele Bugliarello, Fangyu Liu, Jonas Pfeiffer, Siva Reddy, Desmond Elliott, Edoardo Maria Ponti, and Ivan Vulić.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICML</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2021.emnlp-main.818">Visually Grounded Reasoning across Languages and Cultures</a>.
			</span><br />
			<span class="authors">
				Fangyu Liu, Emanuele Bugliarello, Edoardo Maria Ponti, Siva Reddy, Nigel Collier, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of EMNLP</span>.
			<b>
			Best Paper Award.
			</b>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2020.findings-emnlp.244">Textual Supervision for Visually Grounded Spoken Language Understanding</a>.
			</span><br />
			<span class="authors">
				Bertrand Higy, Desmond Elliott, and Grzegorz Chrupała.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of EMNLP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://link.springer.com/article/10.1007/s10590-020-09250-0">Multimodal Machine Translation through Visuals and Speech</a>.
			</span><br />
			<span class="authors">
				Umut Sulubacak, Ozan Caglayan, Stig-Arne Grönroos, Aku Rouhe, Desmond Elliott, Lucia Specia, and Jörg Tiedemann.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Translation 34(2-3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/document/9103248">Grounded Sequence to Sequence Transduction</a>.
			</span><br />
			<span class="authors">
				Lucia Specia, Loic Barrault, Ozan Caglayan, Amanda Duarte, Desmond Elliott, Spandana Gella, Nils Holzenberger, Chiraag Lala, Sun Jae Lee, Jindrich Libovicky, Pranava Madhyastha, Florian Metze, Karl Mulligan, Alissa Ostapenko, Shruti Palaskar, Ramon Sanabria, Josiah Wang, and Raman Arora.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Journal of Selected Topics in Signal Processing 14(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/N19-1200">Cross-lingual Visual Verb Sense Disambiguation</a>.
			</span><br />
			<span class="authors">
				Spandana Gella, Desmond Elliott, and Frank Keller.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of NAACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://nips2018vigil.github.io/static/papers/accepted/26.pdf">How2: A Large-scale Dataset for Multimodal Language Understanding</a>.
			</span><br />
			<span class="authors">
				Ramon Sanabria, Ozan Caglayan, Shruti Palaskar, Desmond Elliott, Loïc Barrault, Lucia Specia, and Florian Metze.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS Workshop on Visually Grounded Interaction and Language</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/D18-1329">Adversarial Evaluation of Multimodal Machine Translation</a>.
			</span><br />
			<span class="authors">
				Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of EMNLP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/K18-1039">Lessons Learned in Multilingual Grounded Language Learning</a>.
			</span><br />
			<span class="authors">
				Ákos Kádár, Desmond Elliott, Marc-Alexandre Côté, Grzegorz Chrupała, and Afra Alishahi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of CoNLL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/W18-6402">Findings of the Third Shared Task on Multimodal Machine Translation</a>.
			</span><br />
			<span class="authors">
				Loïc Barrault, Fethi Bougares, Lucia Specia, Chiraag Lala, Desmond Elliott, and Stella Frank.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of WMT</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1017/S1351324918000074">Assessing multilingual multimodal image description: Studies of native speaker preferences and translator choices</a>.
			</span><br />
			<span class="authors">
				Stella Frank, Desmond Elliott, and Lucia Specia.
			</span><br />
			<span class="venuetype"></span><span class="venue">Natural Language Engineering 24(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
