<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=FkSp8VW8RjH">Language Modelling with Pixels</a>.
			</span><br />
			<span class="authors">
				Phillip Rust, Jonas F. Lotz, Emanuele Bugliarello, Elizabeth Salesky, Miryam Lhoneux, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<b>
			Notable Top 5% Paper.
			</b>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
