<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2409.02098">CRAFT Your Dataset: Task-Specific Synthetic Dataset Generation Through Corpus Retrieval and Augmentation</a>.
			</span><br />
			<span class="authors">
				Ingo Ziegler, Abdullatif Köksal, Desmond Elliott, and Hinrich Schütze.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions of the ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2024.acl-long.503/">Understanding Retrieval Robustness for Retrieval-augmented Image Captioning</a>.
			</span><br />
			<span class="authors">
				Wenyan Li, Jiaang Li, Rita Ramos, Raphael Tang, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2024.findings-naacl.225/">PAELLA: Parameter-Efficient Lightweight Language-Agnostic Captioning Model</a>.
			</span><br />
			<span class="authors">
				Rita Ramos, Emanuele Bugliarello, Bruno Martins, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of NAACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2023.findings-acl.104">LMCap: Few-shot Multilingual Image Captioning by Retrieval Augmented Language Model Prompting</a>.
			</span><br />
			<span class="authors">
				Rita Ramos, Bruno Martins, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openaccess.thecvf.com/content/CVPR2023/html/Ramos_SmallCap_Lightweight_Image_Captioning_Prompted_With_Retrieval_Augmentation_CVPR_2023_paper.html">SmallCap: Lightweight Image Captioning Prompted With Retrieval Augmentation</a>.
			</span><br />
			<span class="authors">
				Rita Ramos, Bruno Martins, Desmond Elliott, and Yova Kementchedjhieva.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of CVPR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2023.eacl-main.266">Retrieval-augmented Image Captioning</a>.
			</span><br />
			<span class="authors">
				Rita Ramos, Desmond Elliott, and Bruno Martins.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of EACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
