<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2505.21265">Multilingual Pretraining for Pixel Language Models</a>.
			</span><br />
			<span class="authors">
				Ilker Kesen, Jonas F. Lotz, Ingo Ziegler, Phillip Rust, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of EMNLP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2409.02098">CRAFT Your Dataset: Task-Specific Synthetic Dataset Generation Through Corpus Retrieval and Augmentation</a>.
			</span><br />
			<span class="authors">
				Ingo Ziegler, Abdullatif Köksal, Desmond Elliott, and Hinrich Schütze.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions of the ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2406.18403">LLMs instead of Human Judges? A Large Scale Empirical Study across 20 NLP Evaluation Tasks</a>.
			</span><br />
			<span class="authors">
				Anna Bavaresco, Raffaella Bernardi, Leonardo Bertolazzi, Desmond Elliott, Raquel Fernández, Albert Gatt, Esam Ghaleb, Mario Giulianelli, Michael Hanna, Alexander Koller, Andre Martins, Philipp Mondorf, Vera Neplenbroek, Sandro Pezzelle, Barbara Plank, David Schlangen, Alessandro Suglia, Aditya K Surikuchi, Ece Takmaz, and Alberto Testoni.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2502.14132">Can Community Notes Replace Professional Fact-Checkers?</a>.
			</span><br />
			<span class="authors">
				Nadav Borenstein, Greta Warren, Desmond Elliott, and Isabelle Augenstein.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2506.03994">Seeing What Tastes Good: Revisiting Multimodal Distributional Semantics in the Billion Parameter Era</a>.
			</span><br />
			<span class="authors">
				Dan Oneata, Desmond Elliott, and Stella Frank.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2410.14387">How Do Multilingual Language Models Remember Facts?</a>.
			</span><br />
			<span class="authors">
				Constanza Fierro, Negar Foroutan, Desmond Elliott, and Anders Søgaard.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.mdpi.com/2673-2688/6/2/37">Effective Machine Learning Techniques for Non-English Radiology Report Classification: A Danish Case Study</a>.
			</span><br />
			<span class="authors">
				Alice Schiavone, Lea Marie Pehrson, Silvia Ingala, Rasmus Bonnevie, Marco Fraccaro, Dana Li, Michael Bachmann Nielsen, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">AI 6(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
