<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1162/COLI.a.646">Beyond Binary Classification: Detecting Fine-Grained Sexism in Social Media Videos</a>.
			</span><br />
			<span class="authors">
				Laura De Grazia, Danae Sánchez Villegas, Desmond Elliott, Mireia Farrús, and Mariona Taulé.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computational Linguistics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Pathways of Visual Information Flow in Vision-Language Models.
			</span><br />
			<span class="authors">
				Israfel Salazar, Stella Frank, Dan Oneata, Desmond Elliott, and Constanza Fierro.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of NeurIPS</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				How Well Do Vision-Language Models Understand Movies?.
			</span><br />
			<span class="authors">
				Emmanouil Zaranis, António Farinhas, Saul Santos, Beatriz Canaverde, Miguel Moura Ramos, Wafaa Mohammed, Giuseppe Attanasio, Chrysoula Zerva, Nithin Sivakumaran, Shoubin Yu, Elena Bueno-Benito, Aditya K Surikuchi, Ben Peters, Danae Sanchez Villegas, Andre G. Viveiros, Pavlo Vasylenko, Baohao Liao, Sonal Sannigrahi, Jaehong Yoon, Elias Stengel-Eskin, Mariella Dimiccoli, Oswald Lanz, Alessandro Suglia, Mohit Bansal, Sandro Pezzelle, Stella Frank, Vlad Niculae, Desmond Elliott, Raffaella Bernardi, Raquel Fernández, and Andre Martins.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of EMNLP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				CroCo: Cross-Lingual Contrastive Preference Tuning on Self-Generations.
			</span><br />
			<span class="authors">
				Mike Zhang, Ali Basirat, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of EMNLP</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Reasoning Dynamics and the Limits of Monitoring Modality Reliance in Vision-Language Models.
			</span><br />
			<span class="authors">
				Danae Sánchez Villegas, Samuel Lewis-Lim, Nikolaos Aletras, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of COLM</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2026.findings-acl.2131/">Long Story Short: Disentangling Compositionality and Long-Caption Understanding in Contrastive VLMs</a>.
			</span><br />
			<span class="authors">
				Israfel Salazar, Desmond Elliott, and Yova Kementchedjhieva.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of ACL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=qJFatzEGQc">LatentLens: Revealing Highly Interpretable Visual Tokens in LLMs</a>.
			</span><br />
			<span class="authors">
				Benno Krojer, Shravan Nayak, Oscar Mañas, Vaibhav Adlakha, Desmond Elliott, Siva Reddy, and Marius Mosbach.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICML</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=rClkte0ZTp">Efficient Test-Time Scaling for Small Vision-Language Models</a>.
			</span><br />
			<span class="authors">
				Mehmet Onurcan Kaya, Desmond Elliott, and Dim Papadopoulos.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=n20ml5nGEo">Token Distillation: Attention-Aware Input Embeddings for New Tokens</a>.
			</span><br />
			<span class="authors">
				Konstantin Dobler, Desmond Elliott, and Gerard Melo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=zCYXhSy9UH">Kaleidoscope: In-language Exams for Massively Multilingual Vision Evaluation</a>.
			</span><br />
			<span class="authors">
				Israfel Salazar, Manuel Fernández Burda, Shayekh Bin Islam, Arshia Soltani Moakhar, Shivalika Singh, Fabian Farestam, Angelika Romanou, Danylo Boiko, Dipika Khullar, Mike Zhang, Dominik Krzemiński, Jekaterina Novikova, Luísa Shimabucoro, Joseph Marvin Imperial, Rishabh Maheshwary, Sharad Duwal, Alfonso Amayuelas, Swati Rajwal, Jebish Purbey, Ahmed Ruby, Nicholas Popovič, Marek Suppa, Azmine Toushik Wasi, Ram Mohan Rao Kadiyala, Olga Tsymboi, Maksim Kostritsya, Bardia Soltani Moakhar, Gabriel Costa Merlin, Otávio Ferracioli Coletti, Maral Jabbari Shiviari, MohammadAmin fard, Silvia Fernandez, María Grandury, Dmitry Abulkhanov, Drishti Sharma, Andre Guarnier De Mitri, Leticia Bossatto Marchezi, Setayesh Heydari, Johan Obando-Ceron, Nazar Kohut, Beyza Ermis, Desmond Elliott, Enzo Ferrante, Sara Hooker, and Marzieh Fadaee.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openaccess.thecvf.com/content/WACV2026/html/Villegas_ImageChain_Advancing_Sequential_Image-to-Text_Reasoning_in_Multimodal_Large_Language_Models_WACV_2026_paper.html">ImageChain: Advancing Sequential Image-to-Text Reasoning in Multimodal Large Language Models</a>.
			</span><br />
			<span class="authors">
				Danae Sanchez Villegas, Ingo Ziegler, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of WACV</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
