<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=rClkte0ZTp">Efficient Test-Time Scaling for Small Vision-Language Models</a>.
			</span><br />
			<span class="authors">
				Mehmet Onurcan Kaya, Desmond Elliott, and Dim Papadopoulos.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=n20ml5nGEo">Token Distillation: Attention-Aware Input Embeddings for New Tokens</a>.
			</span><br />
			<span class="authors">
				Konstantin Dobler, Desmond Elliott, and Gerard Melo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=zCYXhSy9UH">Kaleidoscope: In-language Exams for Massively Multilingual Vision Evaluation</a>.
			</span><br />
			<span class="authors">
				Israfel Salazar, Manuel Fernández Burda, Shayekh Bin Islam, Arshia Soltani Moakhar, Shivalika Singh, Fabian Farestam, Angelika Romanou, Danylo Boiko, Dipika Khullar, Mike Zhang, Dominik Krzemiński, Jekaterina Novikova, Luísa Shimabucoro, Joseph Marvin Imperial, Rishabh Maheshwary, Sharad Duwal, Alfonso Amayuelas, Swati Rajwal, Jebish Purbey, Ahmed Ruby, Nicholas Popovič, Marek Suppa, Azmine Toushik Wasi, Ram Mohan Rao Kadiyala, Olga Tsymboi, Maksim Kostritsya, Bardia Soltani Moakhar, Gabriel Costa Merlin, Otávio Ferracioli Coletti, Maral Jabbari Shiviari, MohammadAmin fard, Silvia Fernandez, María Grandury, Dmitry Abulkhanov, Drishti Sharma, Andre Guarnier De Mitri, Leticia Bossatto Marchezi, Setayesh Heydari, Johan Obando-Ceron, Nazar Kohut, Beyza Ermis, Desmond Elliott, Enzo Ferrante, Sara Hooker, and Marzieh Fadaee.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of ICLR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openaccess.thecvf.com/content/WACV2026/html/Villegas_ImageChain_Advancing_Sequential_Image-to-Text_Reasoning_in_Multimodal_Large_Language_Models_WACV_2026_paper.html">ImageChain: Advancing Sequential Image-to-Text Reasoning in Multimodal Large Language Models</a>.
			</span><br />
			<span class="authors">
				Danae Sanchez Villegas, Ingo Ziegler, and Desmond Elliott.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of WACV</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
